<div class="container-fluid" style="padding-bottom:1%">
    <div class="row">
        <div class="col-lg-12 heading">
            <h2><b>Milkcards</b></h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-margin">
                <div class="card-body">
                    <table mdbTable class="table table-reponsive table-striped">
                        <thead>
                            <tr class="vertical">
                                <th style="vertical-align: inherit;" scope="col">
                                    S.no
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Name
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Price
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Validity
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Product
                                </th>
                                <th colspan="2" style="vertical-align: inherit;" scope="col">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="vertical"
                                *ngFor="let i = index; let data of milkcard | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td data-label="S.no">{{i+1}}</td>
                                <td data-label="Name">{{data?.name}}</td>
                                <td data-label="Price">{{data?.price | currency : 'INR'}}</td>
                                <td data-label="Validity">{{data?.validity}}</td>
                                <td data-label="Product">
                                    {{data?.product?.name}}&nbsp;{{data?.product?.quantity}}&nbsp;{{data?.product?.unit}}
                                </td>
                                <td data-label="Edit">
                                    <button (click)="editMilkcard(data)" class="btn btn-secondary">Edit</button>
                                </td>
                                <td data-label="Delete">
                                    <button (click)="deleteMilkcard(data?._id)" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p=$event">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>