<div class="container-fluid" style="padding-bottom:1%">
    <div class="row">
        <div class="col-lg-8 heading">
            <h2><b>Cow Treatment</b></h2>
        </div>
        <div class="col-lg-4 heading">
            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Choose Store</mat-label>
                <mat-select (selectionChange)="changeValue($event.value)" [(ngModel)]="storeSelected">
                    <mat-option *ngFor="let data of stores" [value]="data._id">{{data.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-margin">
                <div class="card-body">
                    <table mdbTable class="table table-reponsive table-striped">
                        <thead>
                            <tr class="vertical">
                                <th style="vertical-align: inherit;" scope="col">
                                    S.no
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Cow Name
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Date 
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Problem
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Prescription
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Comment
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="vertical"
                                *ngFor="let i = index; let data of cowTreatment | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td data-label="S.no">{{i+1}}</td>
                                <td data-label="Cow Name">{{data?.cow?.name}}-{{data?.cow?.tagnumber}}</td>
                                <td data-label="Date">{{data?.entrydate | date : 'dd/MM/yy, h:mm a'}}</td>
                                <td data-label="Problem">{{data?.problem}}</td>
                                <td data-label="Prescription">{{data?.prescription}}</td>
                                <td data-label="Comment">{{data?.comment}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p=$event">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>