<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-dialog-title>Delivery History</h2>
<mat-dialog-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">Delivered Days : <b>{{this.deliveredDays}}</b></div>
            <div class="col-lg-6">Not Delivered Days : <b>{{this.notdeliveredDays}}</b></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-margin">
                    <div class="card-body">
                        <table mdbTable class="table table-reponsive table-striped">
                            <thead>
                                <tr class="vertical">
                                    <th style="vertical-align: inherit;" scope="col">
                                        S.no
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Date
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Delivery Status
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Notes
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="vertical"
                                    *ngFor="let i = index; let data of entries">
                                    <td data-label="S.no">{{i+1}}</td>
                                    <td data-label="Date">{{data?.entrydate | date: 'longDate'}}</td>
                                    <td data-label="Delivery Status">{{data?.isdelivered ? 'Delivered' : 'Not Delivered'}}</td>
                                    <td data-label="Notes">{{data?.notes || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>