<div class="container-fluid" style="padding-bottom:1%">
    <div class="row">
        <div class="col-lg-4 heading">
            <h2><b>Customers</b></h2>
        </div>
        <div class="col-lg-8 heading mar-r8">
            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Choose Store</mat-label>
                <mat-select (selectionChange)="changeValue($event.value)" [(ngModel)]="storeSelected">
                    <mat-option *ngFor="let data of stores" [value]="data._id">{{data.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Search Customer</mat-label>
                <input matInput placeholder="" type="text" [(ngModel)]="term">
                <button *ngIf="term" matSuffix mat-icon-button (click)="term=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-margin">
                <div class="card-body">
                    <table mdbTable class="table table-reponsive table-striped">
                        <thead>
                            <tr class="vertical">
                                <th style="vertical-align: inherit;" scope="col">
                                    S.no
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Name
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Nickname
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Phone
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    View
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="vertical"
                                *ngFor="let i = index; let data of customer | paginate: { itemsPerPage: 10, currentPage: p } | filter:term">
                                <td data-label="S.no">{{i+1}}</td>
                                <td data-label="Name">{{data?.name}}</td>
                                <td data-label="Nickname">{{data?.nickname || '-'}}</td>
                                <td data-label="Phone">{{data?.phone}}</td>
                                <td data-label="Edit">
                                    <button (click)="viewCustomer(data)" class="btn btn-primary">View</button>
                                </td>
                                <td data-label="Action">
                                    <button (click)="editCustomer(data)" class="btn btn-secondary">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p=$event">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>