<div class="container-fluid" style="padding-bottom:1%">
    <div class="row">
        <div class="col-lg-4 heading">
            <h2><b>Past Sales</b></h2>
        </div>
        <div class="col-lg-8 heading mar-r8">
            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Choose Store</mat-label>
                <mat-select (selectionChange)="fetchData()" [(ngModel)]="storeSelected">
                    <mat-option *ngFor="let data of stores" [value]="data._id">{{data.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" (dateChange)="fetchData()"
                    [(ngModel)]="dateSelected">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Choose Type</mat-label>
                <mat-select (selectionChange)="fetchData()" [(ngModel)]="viewType">
                    <mat-option value="order">By Order</mat-option>
                    <mat-option value="product">By Product</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-bottom:1%">
    <div class="row">
        <div class="col-lg-3 pad-top-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Total Sales</h2>
                    <h1 class="card-text">
                        <b>{{this.totalSales | currency : 'INR'}}</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pad-top-5" (click)="openOrders('cash')">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Total Cash</h2>
                    <h1 class="card-text">
                        <b>{{this.totalcash | currency : 'INR'}}</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pad-top-5" (click)="openOrders('card')">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Total Card</h2>
                    <h1 class="card-text">
                        <b>{{this.totalcard | currency : 'INR'}}</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pad-top-5" (click)="openOrders('credit')">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Total Credit</h2>
                    <h1 class="card-text">
                        <b>{{this.totalcredit | currency : 'INR'}}</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pad-top-5" (click)="openOrders('free')">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Total Free / Donation</h2>
                    <h1 class="card-text">
                        <b>{{this.totalfree | currency : 'INR'}}</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pad-top-5" (click)="openOrders('upi')">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Total UPI</h2>
                    <h1 class="card-text">
                        <b>{{this.totalupi | currency : 'INR'}}</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pad-top-5" (click)="openOrders('token')">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Total Token Sales</h2>
                    <h1 class="card-text">
                        <b>{{this.totaltoken | currency : 'INR'}}</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pad-top-5" (click)="openOrders('milkcard')">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Total Milkcard Sales</h2>
                    <h1 class="card-text">
                        <b>{{this.totalmilkcard | currency : 'INR'}}</b>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-margin">
                <div *ngIf="this.viewType === 'order';else stock" class="card-body">
                    <table mdbTable class="table table-reponsive table-striped">
                        <thead>
                            <tr class="vertical">
                                <th style="vertical-align: inherit;" scope="col">
                                    S.no
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Order no
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Date & Time
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Payment Method
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Amount
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Customer Name
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Mobile Number
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    View
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="vertical"
                                *ngFor="let i = index; let data of orders | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td data-label="S.no">{{i+1}}</td>
                                <td data-label="Order No">{{data.orderid}}</td>
                                <td data-label="Date & Time">{{data.createdat | date : 'dd/MM/yy, h:mm a'}}</td>
                                <td data-label="Payment Method">{{data.paymentMethod | titlecase}}</td>
                                <td data-label="Amount">{{data.totalamount | currency : 'INR'}}</td>
                                <td (click)="viewCustomer(data.customer)" data-label="Customer Name">{{data?.customer ? data?.customer?.name : '-'}}</td>
                                <td (click)="viewCustomer(data.customer)" data-label="Mobile Number">{{data?.customer ? data?.customer?.phone : '-'}}</td>
                                <td data-label="View">
                                    <button class="btn btn-primary" (click)="openDialog(data)">View</button>
                                </td>
                                <td data-label="Action">
                                    <button class="btn btn-danger" (click)="deleteOrder(data?._id)">Delete</button>
                                </td>
                            </tr>
                            <tr *ngIf="this.orders?.length" class="vertical">
                                <td colspan="5"><span class="bold">Total Sales :</span> </td>
                                <td><span class="bold">{{this.totalSales | currency : 'INR'}}</span></td>
                                <td colspan="3"></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p=$event">
                    </pagination-controls>
                </div>
                <ng-template #stock>
                    <div class="card-body">
                        <table mdbTable class="table table-reponsive table-striped">
                            <thead>
                                <tr class="vertical">
                                    <th style="vertical-align: inherit;" scope="col">
                                        S.no
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Product
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Quantity
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        D & T
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="vertical"
                                    *ngFor="let i = index; let data of stocks | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td data-label="S.no">{{i+1}}</td>
                                    <td data-label="Product">{{data?.product?.name}}&nbsp;{{data?.product?.quantity}}&nbsp;{{data?.product?.unit | unit}}</td>
                                    <td data-label="Quantity">{{data?.quantity}}</td>
                                    <td data-label="D & T">{{data?.entrydate | date : 'dd/MM/yy, h:mm a'}}</td>
                                    <td data-label="Price">{{data?.quantity * data?.product?.price | currency : 'INR'}}
                                    </td>
                                </tr>
                                <tr *ngIf="this.stocks?.length" class="vertical">
                                    <td colspan="4"><span class="bold">Total Sales :</span> </td>
                                    <td><span class="bold">{{this.totalSales | currency : 'INR'}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p=$event">
                        </pagination-controls>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>