<div class="container-fluid" style="padding-bottom:1%">
    <div class="row">
        <div class="col-lg-4 heading">
            <h2><b>Today's Stock</b></h2>
        </div>
        <div class="col-lg-8 heading mar-r8">
            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Choose Store</mat-label>
                <mat-select (selectionChange)="storeChange($event.value)" [(ngModel)]="storeSelected">
                    <mat-option *ngFor="let data of stores" [value]="data._id">{{data.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Choose Stocktype</mat-label>
                <mat-select (selectionChange)="typeChange($event.value)" [(ngModel)]="stockType">
                    <mat-option value="milk">Milk Stock</mat-option>
                    <mat-option value="others">Other Stocks</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>Start Time</mat-label>
                <input matInput [ngxTimepicker]="startTime" [value]="'12:00 AM'">
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker [defaultTime]="startTime" (timeSet)="timeChanged($event, 'start')" #startTime>
                </ngx-material-timepicker>
            </mat-form-field>
            <mat-form-field style="margin-right: 3%;" appearance="outline">
                <mat-label>End Time</mat-label>
                <input matInput [ngxTimepicker]="endTime" [value]="'11:59 PM'">
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker [defaultTime]="endTime" (timeSet)="timeChanged($event, 'end')" #endTime>
                </ngx-material-timepicker>
            </mat-form-field>
        </div>
    </div>
</div>

<div *ngIf="this.stockType === 'others'" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-margin">
                <div class="card-body">
                    <table mdbTable class="table table-reponsive table-striped">
                        <thead>
                            <tr class="vertical">
                                <th style="vertical-align: inherit;" scope="col">
                                    S.no
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Product
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Stock In
                                </th>
                                <th style="vertical-align: inherit;" scope="col">
                                    Stock Out
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of otherCategory">
                            <tr class="vertical">
                                <td colspan="4">
                                    <h3 class="bold">{{item?.name}}</h3>
                                </td>
                            </tr>
                            <tr class="vertical" *ngFor="let data of stockEntries | category : item._id | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                <td data-label="S.no">{{i+1}}</td>
                                <td data-label="Product">
                                    {{data?.product?.name}}&nbsp;{{data?.product?.quantity}}&nbsp;{{data?.product?.unit}}
                                </td>
                                <td data-label="Stock In">{{data?.totalStockIn}}</td>
                                <td data-label="Stock Out">{{data?.totalStockOut}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p=$event">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="this.stockType === 'milk'">
    <div class="container-fluid" style="padding-bottom:1%">
        <div class="row">
            <div class="col-lg-12 heading">
                <h2><b>Total Stock In</b></h2>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Cow Milk (A1)</h2>
                        <h1 class="card-text">
                            <b>{{this.totala1milk?.stockIn | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Cow Milk (A2)</h2>
                        <h1 class="card-text">
                            <b>{{this.totala2milk?.stockIn | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Buffalo Milk</h2>
                        <h1 class="card-text">
                            <b>{{this.totalbuffalomilk?.stockIn | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 heading">
                <h2><b>Total Stock Out</b></h2>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Cow Milk (A1)</h2>
                        <h1 class="card-text">
                            <b>{{this.totala1milk?.stockOut | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Cow Milk (A2)</h2>
                        <h1 class="card-text">
                            <b>{{this.totala2milk?.stockOut | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Buffalo Milk</h2>
                        <h1 class="card-text">
                            <b>{{this.totalbuffalomilk?.stockOut | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 heading">
                <h2><b>Total By-product</b></h2>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Cow Milk (A1)</h2>
                        <h1 class="card-text">
                            <b>{{this.totala1milk?.byproduct | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Cow Milk (A2)</h2>
                        <h1 class="card-text">
                            <b>{{this.totala2milk?.byproduct | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Buffalo Milk</h2>
                        <h1 class="card-text">
                            <b>{{this.totalbuffalomilk?.byproduct | number: '1.2-2'}} litres</b>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-margin">
                    <div class="card-body">
                        <table mdbTable class="table table-reponsive table-striped">
                            <thead>
                                <tr class="vertical">
                                    <th style="vertical-align: inherit;" scope="col">
                                        S.no
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Product
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Stock In
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        Stock Out
                                    </th>
                                    <th style="vertical-align: inherit;" scope="col">
                                        By-product
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of milkCategory">
                                <tr class="vertical"
                                    *ngFor="let data of stockEntries | category : item._id | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                    <td data-label="S.no">{{i+1}}</td>
                                    <td data-label="Product">
                                        {{data?.product?.name}}&nbsp;{{data?.product?.quantity}}&nbsp;{{data?.product?.unit}}
                                    </td>
                                    <td data-label="Stock In">{{data?.totalStockIn}}</td>
                                    <td data-label="Stock Out">{{data?.totalStockOut}}</td>
                                    <td data-label="By-Product">{{data?.totalByproduct}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p=$event">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>