html,
body {
  height: 100%;
  overflow: hidden;
}

.mar-r8 {
  text-align: end;
  @media only screen and (max-width: 600px) {
    text-align: inherit;
  }
}

.pad-5 {
  padding: 5% 5%;
}

label {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.material-icons {
  font-family: "Material Icons" !important;
}

.ngx-pagination {
  padding: 3% 0% !important;
  .current {
    background: #39813e !important;
  }
}

button:focus {
  outline: none !important;
}

.form-control {
  background-color: #fafafa;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

.btn1 {
  margin: 3% 3%;
  width: 25%;
}

.btn2 {
  background: #f26522;
  margin: 3% 3%;
  width: 25%;
  border-color: #f26522;
}

.heading {
  padding-left: 2rem;
  padding-top: 1rem;
  margin: auto;
  h2 {
    margin: 0px !important;
  }
}

:host .timepicker__header {
  background-color: #39813e !important;
}

.card-body {
  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-top: 20px;
  }
  table tr th {
    font-size: inherit;
    font-weight: bold;
  }
  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }
  table tr {
    // background-color: #f8f8f8;
    // border: 1px solid #ddd;
    padding: 0.35em;
  }
  table th,
  table td {
    padding: 0.625em;
    text-align: center;
    vertical-align: middle !important;
  }
  table th {
    font-size: inherit;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    input {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    .table-button1,
    .table-button2 {
      display: none;
    }
    #tablestatus {
      display: contents;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      // border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
    table td {
      // border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }
}

.bold {
  font-size: large;
  font-weight: bold !important;
}

.align-middle {
  align-items: baseline !important;
}
