<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Total Stores</h2>
                        <h1 class="card-text">
                            <b>{{this.totalStores}}</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div (click)="openPage('/todays-sales')" class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Today Sales</h2>
                        <h1 class="card-text">
                            <b>{{this.todaySales | currency : 'INR'}}</b>
                        </h1>
                    </div>
                </div>
            </div>
            <div (click)="openPage('/todays-sales')" class="col-lg-4 pad-top-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Today Order</h2>
                        <h1 class="card-text">
                            <b>{{this.todayOrders}}</b>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                    [responsive]="chartOptions.responsive"></apx-chart>
            </div>
        </div>
    </div>
</div>