<mat-nav-list>
    <div class="center">
        <img style="height: 10rem;" src="assets/icon.png" />
        <br>
    </div>
    <br>

    <br>
    <mat-list>
        <mat-list-item (click)="openpage('/dashboard');makeactive('dashboard')"
            [ngClass]="this.active=='dashboard' ? 'selected list-item' : 'list-item'">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <mat-label>Dashboard</mat-label>
        </mat-list-item>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='category'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='category'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>category</mat-icon>
                        <mat-label>Category</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/category' ? '#39813e' : 'inherit'"
                (click)="openpage('/category');makeactive('category')" class="no-left-margin">
                <mat-label>View Category</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-category' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-category');makeactive('add-category')" class="no-left-margin">
                <mat-label>Add Category</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='products'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='products'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>shopping_basket</mat-icon>
                        <mat-label>Products</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/product' ? '#39813e' : 'inherit'"
                (click)="openpage('/product');makeactive('product')" class="no-left-margin">
                <mat-label>View Products</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-product' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-product');makeactive('add-product')" class="no-left-margin">
                <mat-label>Add Product</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='cow'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='cow'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>pets</mat-icon>
                        <mat-label>Cow</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/add-cow' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-cow');makeactive('add-cow')" class="no-left-margin">
                <mat-label>Add Cow</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-cow' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-cow');makeactive('view-cow')" class="no-left-margin">
                <mat-label>View Cow</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-cow-treatment' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-cow-treatment');makeactive('add-cow-treatment')" class="no-left-margin">
                <mat-label>Add Cow Treatment</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-cow-treatment' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-cow-treatment');makeactive('add-cow-treatment')" class="no-left-margin">
                <mat-label>View Cow Treatment</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-calf-delivery' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-calf-delivery');makeactive('add-calf-delivery')" class="no-left-margin">
                <mat-label>Add Calf Delivery</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-calf-delivery' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-calf-delivery');makeactive('add-calf-delivery')" class="no-left-margin">
                <mat-label>View Calf Delivery</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='accounts'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='accounts'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>account_balance</mat-icon>
                        <mat-label>Cost Entries</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/add-cost' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-cost');makeactive('add-cost')" class="no-left-margin">
                <mat-label>Add Cost Entry</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/cost' ? '#39813e' : 'inherit'"
                (click)="openpage('/cost');makeactive('cost')" class="no-left-margin">
                <mat-label>View Cost Entry</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='accounts'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='accounts'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>money</mat-icon>
                        <mat-label>Accounts</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/todays-sales' ? '#39813e' : 'inherit'"
                (click)="openpage('/todays-sales');makeactive('todays-sales')" class="no-left-margin">
                <mat-label>Today's Sales</mat-label>
            </mat-list-item>

            <mat-list-item [style.color]="this.activepage=='/orders' ? '#39813e' : 'inherit'"
                (click)="openpage('/orders');makeactive('orders')" class="no-left-margin">
                <mat-label>Past Sales</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='saleshistory'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='saleshistory'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>attach_money</mat-icon>
                        <mat-label>Sales History</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/milkcard-history' ? '#39813e' : 'inherit'"
                (click)="openpage('/milkcard-history');makeactive('milkcard-history')" class="no-left-margin">
                <mat-label>Milkcard Sales</mat-label>
            </mat-list-item>

            <mat-list-item [style.color]="this.activepage=='/token-history' ? '#39813e' : 'inherit'"
                (click)="openpage('/token-history');makeactive('token-history')" class="no-left-margin">
                <mat-label>Token Sales</mat-label>
            </mat-list-item>

            <mat-list-item [style.color]="this.activepage=='/subscription-history' ? '#39813e' : 'inherit'"
                (click)="openpage('/subscription-history');makeactive('subscription-history')" class="no-left-margin">
                <mat-label>Subsciption History</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='stock'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='stock'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>store</mat-icon>
                        <mat-label>Stock</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/today-stock' ? '#39813e' : 'inherit'"
                (click)="openpage('/today-stock');makeactive('today-stock')" class="no-left-margin">
                <mat-label>Today's Stock</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-stock' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-stock');makeactive('view-stock')" class="no-left-margin">
                <mat-label>View Total Stock</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/userwise-stock' ? '#39813e' : 'inherit'"
                (click)="openpage('/userwise-stock');makeactive('userwise-stock')" class="no-left-margin">
                <mat-label>View Userwise Stock</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-stock' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-stock');makeactive('add-stock')" class="no-left-margin">
                <mat-label>Add Stock</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='feedstock'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='feedstock'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>store</mat-icon>
                        <mat-label>Feed Stock</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/add-feed' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-feed');makeactive('add-feed')" class="no-left-margin">
                <mat-label>Add Feed</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-feed' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-feed');makeactive('view-feed')" class="no-left-margin">
                <mat-label>View Feed</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-feedstock' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-feedstock');makeactive('add-feedstock')" class="no-left-margin">
                <mat-label>Add Feedstock Entry</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-feedstock' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-feedstock');makeactive('view-feedstock')" class="no-left-margin">
                <mat-label>View Feedstock Entries</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-allfeedstock' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-allfeedstock');makeactive('view-allfeedstock')" class="no-left-margin">
                <mat-label>View All Stock</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-feedledger' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-feedledger');makeactive('add-feedledger')" class="no-left-margin">
                <mat-label>Add Feed Ledger</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-feedledger' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-feedledger');makeactive('view-feedledger')" class="no-left-margin">
                <mat-label>View Feed Ledger</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='milksupply'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='milksupply'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>local_drink</mat-icon>
                        <mat-label>Milk Supply</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/today-milksupply' ? '#39813e' : 'inherit'"
                (click)="openpage('/today-milksupply');makeactive('today-milksupply')" class="no-left-margin">
                <mat-label>Today's Milksupply</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/entry-milksupply' ? '#39813e' : 'inherit'"
                (click)="openpage('/entry-milksupply');makeactive('entry-milksupply')" class="no-left-margin">
                <mat-label>Milksupply Entry</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='milkcard'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='milkcard'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>card_membership</mat-icon>
                        <mat-label>Milkcard</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/view-milkcard' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-milkcard');makeactive('view-milkcard')" class="no-left-margin">
                <mat-label>View Milkcard</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-milkcard' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-milkcard');makeactive('add-milkcard')" class="no-left-margin">
                <mat-label>Add Milkcard</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='subscriptionpack'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='subscriptionpack'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>subscriptions</mat-icon>
                        <mat-label>Subscription</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/view-subscriptionpack' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-subscriptionpack');makeactive('view-subscriptionpack')" class="no-left-margin">
                <mat-label>View Subscription</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-subscriptionpack' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-subscriptionpack');makeactive('add-subscriptionpack')" class="no-left-margin">
                <mat-label>Add Subscription</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='activesubscription'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='activesubscription'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>subscriptions</mat-icon>
                        <mat-label>Active Subscription</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/add-activesubscription' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-activesubscription');makeactive('add-activesubscription')"
                class="no-left-margin">
                <mat-label>Create Active Subscription</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-activesubscription' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-activesubscription');makeactive('view-activesubscription')"
                class="no-left-margin">
                <mat-label>View Active Subscription</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-availablity' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-availablity');makeactive('add-availablity')" class="no-left-margin">
                <mat-label>Update Availablity</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-deliveryentries' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-deliveryentries');makeactive('view-deliveryentries')" class="no-left-margin">
                <mat-label>View Delivery Entries</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='leads'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='leads'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>transfer_within_a_station</mat-icon>
                        <mat-label>Leads</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/add-lead' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-lead');makeactive('add-lead')" class="no-left-margin">
                <mat-label>Add Lead</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-lead' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-lead');makeactive('view-lead')" class="no-left-margin">
                <mat-label>View Leads</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='production'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='production'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>build</mat-icon>
                        <mat-label>Production</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/add-production' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-production');makeactive('add-production')" class="no-left-margin">
                <mat-label>Add Production</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-production' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-production');makeactive('view-production')" class="no-left-margin">
                <mat-label>View Production</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel style="box-shadow: none;width: 100%;background: none;">
            <mat-expansion-panel-header [ngClass]="this.active=='users'? 'selected-panel' : 'normal-panel'"
                style="padding-left: 0px;">
                <mat-panel-title>
                    <mat-list-item [ngClass]="this.active=='users'? 'list-item2' : 'list-item1'">
                        <mat-icon mat-list-icon>person</mat-icon>
                        <mat-label>Users</mat-label>
                    </mat-list-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item [style.color]="this.activepage=='/add-customer' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-customer');makeactive('add-customer')" class="no-left-margin">
                <mat-label>Add Customer</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/customers' ? '#39813e' : 'inherit'"
                (click)="openpage('/customers');makeactive('customers')" class="no-left-margin">
                <mat-label>View Customers</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-user' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-user');makeactive('add-user')" class="no-left-margin">
                <mat-label>Add Store-User</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-user' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-user');makeactive('view-user')" class="no-left-margin">
                <mat-label>View Store-Users</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/add-deliveryman' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-deliveryman');makeactive('add-deliveryman')" class="no-left-margin">
                <mat-label>Add Delivery Man</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-deliveryman' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-deliveryman');makeactive('view-deliveryman')" class="no-left-margin">
                <mat-label>View Delivery Man</mat-label>
            </mat-list-item>

            <mat-list-item [style.color]="this.activepage=='/add-milkentryman' ? '#39813e' : 'inherit'"
                (click)="openpage('/add-milkentryman');makeactive('add-milkentryman')" class="no-left-margin">
                <mat-label>Add Milkentry Man</mat-label>
            </mat-list-item>
            <mat-list-item [style.color]="this.activepage=='/view-milkentryman' ? '#39813e' : 'inherit'"
                (click)="openpage('/view-milkentryman');makeactive('view-milkentryman')" class="no-left-margin">
                <mat-label>View Milkentry Man</mat-label>
            </mat-list-item>
        </mat-expansion-panel>

    </mat-list>
</mat-nav-list>